<a href="https://colab.research.google.com/github/HamidTel/Swap-Status/blob/main/Reading_from_Google_Drive_Spreadsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
import pandas as pd
import os
from datetime import datetime

In [11]:
path='/content/drive/MyDrive/Analytics/GGCC-p1/GGCC_Phase1/References'

In [12]:
os.chdir(path)
#os.getcwd()

'/content/drive/MyDrive/Analytics/GGCC-p1/GGCC_Phase1/References'

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [35]:
worksheet = gc.open('2022 AB Vendor Upgrade').worksheet("2022")
print('date:',datetime.now())
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
#print(rows)

import pandas as pd
df=pd.DataFrame.from_records(rows[1:],columns=rows[0])

date: 2022-03-12 06:33:29.798539

In [33]:
columns=['Cluster','Site ID','Antenna Swap Complete','Antenna Swap Start','Antenna Swap End','RRU Swap Complete','RRU Swap Start','RRU Swap End']
df_status=df[columns]
df_status.head()

,Cluster,Site ID,Antenna Swap Complete,Antenna Swap Start,Antenna Swap End,RRU Swap Complete,RRU Swap Start,RRU Swap End
0,CGY04,AB1748,TRUE,01/10/2022,01/14/2022,TRUE,02/22/2022,02/25/2022
1,CGY04,AB0059,TRUE,12/10/2021,12/10/2021,TRUE,02/16/2022,02/18/2022
2,CGY04,AB0410,TRUE,01/10/2022,01/14/2022,TRUE,02/23/2022,02/25/2022
3,CGY04,AB1723,TRUE,01/10/2022,01/14/2022,TRUE,02/23/2022,02/25/2022
4,CGY04,AB1744,FALSE,03/14/2022,03/18/2022,FALSE,04/18/2022,04/22/2022

In [14]:
#sh = gc.create(path+'My cool spreadsheet')

In [ ]:
'''worksheet = gc.open(path+'My cool spreadsheet').sheet1

cell_list = worksheet.range('A1:C2')

import random
for cell in cell_list:
  cell.value = random.randint(1, 10)

worksheet.update_cells(cell_list)'''